.hero-bg {
  background-color: #12172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 23, 42, 0.7);
  z-index: 1;
}

.hero-content {
  z-index: 2;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content a {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero-content a:hover {
  background-color: white;
  color: #12172a;
}

/* Диагональные полосы */
.diagonal-stripes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #c08d5b 10px,
    #c08d5b 30px
  );
  z-index: 0;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  gap: 150px;
}

.product {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.product img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color: #e9e9e9;
  transition: transform 0.3s ease;
}

.product:hover {
  background-color: #d1d1d1;
}

.product:hover img {
  transform: scale(1.1); /* Увеличение изображения */
}

.product-info {
  font-size: 16px;
}

.product-info p {
  margin: 5px 0;
}

.product-info .price {
  font-weight: bold;
  margin-top: 10px;
}

.discount-section {
  background-color: #e9dacd;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.discount-content {
  max-width: 600px;
}

.discount-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.discount-content p {
  font-size: 24px;
  margin-bottom: 5px;
}

.discount-content button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.discount-content button:hover {
  background-color: #000;
  color: #fff;
}

.big-products {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  gap: 60px;
}

.big-product {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.big-product img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color: #e9e9e9;
  transition: transform 0.3s ease;
}

.big-product:hover {
  background-color: #d1d1d1;
}

.big-product:hover img {
  transform: scale(1.1); /* Увеличение изображения */
}

.big-product-info {
  font-size: 16px;
}

.big-product-info p {
  margin: 5px 0;
}

.big-product-info .price {
  font-weight: bold;
  margin-top: 10px;
}

.popular-products {
  padding: 50px 0;
  gap: 60px;
}

.popular-product {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.popular-product img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-color: #e9e9e9;
  transition: transform 0.3s ease;
}

.popular-product:hover {
  background-color: #d1d1d1;
}

.popular-product:hover img {
  transform: scale(1.1); /* Увеличение изображения */
}

.popular-product-info {
  font-size: 16px;
}

.popular-product-info p {
  margin: 5px 0;
}

.popular-product-info .price {
  font-weight: bold;
  margin-top: 10px;
}
.popular-space {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 60px;
}
